<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal website of software engineer Nick Miller" />
    <title><%=title%> - nmiller.info</title>
</head>
<body>
	<main>
		<!-- from: <%= source %> -->
		<%=content%>
	</main>
	<footer>&copy; <%=year%> Nick Miller</footer>
</body>
</html>
